<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Syscloud- Fileboard:Authorise</title>
<script type="text/javascript" src="{% static "login/js/jquery-1.10.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "fileboard/js/jquery.colorbox-min.js" %}"></script>
<script type="text/javascript" src="{% static "fileboard/js/authorise-script.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "fileboard/css/authorise-style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "fileboard/css/colorbox.css" %}"/>
</head>
<body>
	<div id="allow-dropbox">
		<label>Allow SysCloud to access your </label>
		<img alt="dropbox" src="{% static "fileboard/images/dropbox-logo.png" %}">
		<div>
			<a class="iframe" href="{{url}}">CLICK HERE</a>
		</div>
	</div>
	<div>
		<input id="goto-fileboard" type="button" value="Go To Fileboard ->"/>
	</div>
</body>
</html>