@CHARSET "UTF-8";

body {
	margin: 0;
	overflow: hidden;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr {
	width: 100%;
}

table tr td {
	padding: 0;
}

table tr td div{
	position: relative;
}

table tr td div input {
	padding: 1% 2% 1% 2%;
}

#dropbox {
	background-color: #0040BF;
}

#skydrive {
	background-color:#45A770;
}

#google-drive {
	background-color: #7711C4;
}

#amazons3 {
	background-color: #B5125B;
}

#box {
	background-color: #B2B00C;
}