<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta charset="UTF-8">
<title>Syscloud- Fileboard: Manage Dropbox Accounts</title>
<script type="text/javascript" src="{% static "login/js/jquery-1.10.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "login/js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "fileboard/js/accounts/sizing.js" %}"></script>
<script type="text/javascript" src="{% static "fileboard/js/accounts/manage-dropbox-script.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "fileboard/css/accounts/manage-style.css" %}"/>
</head>
<body style="background-color: #0036A1;">
	<img alt="dropbox" src="{% static "fileboard/images/dropbox-logo.png" %}">
	<div class="manage-accounts">
		<div class="account-list">
		{% if user_account_list %}
			<table>
				<tr>
					<th></th>
					<th><label>Your Dropbox Account list</label></th>
					<th><label>Access</label></th>
				</tr>
			{% for user_account in user_account_list %}
				<tr>
					<td><input id="{{ user_account.id }}" type="radio" /></td>
					<td><label for="{{ user_account.id }}">{{ user_account.account }}</label></td>
					<td><label class="{{ user_account.access }}">{{ user_account.access }}</label></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>No accounts have been configured for Dropbox</p>
			<span>To configure a new account, go back to the account palette and click on Add New Account for Dropbox</span>
		{% endif %}
		</div>
		<table>
			<tr>
				<td><input id="dropboxAccessToken" type="button" value="Get Access Token" disabled="disabled" /></td>
				<td>
					<input id="disallow" type="button" value="Disallow Access" disabled="disabled" />
					<input id="delete" type="button" value="Delete Account" disabled="disabled" />
				</td>
			</tr>
		</table>
		<br />
		<br />
		<span class="status"></span>
	</div>
</body>
</html>